# Build Flutter APK for Android and iOS

name: Flutter CI
on:
    push:
        branches:
            - main
jobs:
    android:
        name: Build Android APK & Run Tests
        runs-on: ubuntu-latest
        if: false

        env: 
            API_URL: https://team-nexus.onrender.com
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up JDK 17 
              uses: actions/setup-java@v5
              with:
                  distribution: 'temurin'
                  java-version: '17'
                  cache: 'gradle'
# Build Android APK and app bundle
            - name: Set up Flutter
              uses: subosito/flutter-action@v2
              with:
                flutter-version: '3.38.0'
                channel: 'stable'
                cache: true

            - name: Install dependencies
              run: flutter pub get

            - name: Run Flutter test 
              run: flutter test --coverage || echo "Tests failed but continue building"

            - name: Upload coverage artifact
              uses: actions/upload-artifact@v4
              with:
                  name: coverage-android
                  path: coverage/lcov.info

            - name: Accept Android licenses
              run: yes | flutter doctor --android-licenses

            - name: Build APK
              run: flutter build apk --release --dart-define=API_URL=$API_URL
            - name: Upload APK artifact
              uses: actions/upload-artifact@v4
              with:
                name: app-release-apk
                path: build/app/outputs/flutter-apk/app-release.apk
            - name: Build App Bundle
              run: flutter build appbundle --release --dart-define=API_URL=$API_URL
            - name: Upload App Bundle artifact
              uses: actions/upload-artifact@v4
              with:
                name: app-release-aab
                path: build/app/outputs/bundle/release/app-release.aab

# Build iOS app
    ios:
        name: Build iOS App & Run Tests
        runs-on: macos-latest
        if: false 
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Set up Flutter
              uses: subosito/flutter-action@v2
              with:
                flutter-version: '3.38.0'
                channel: 'stable'
            - name: Install dependencies
              run: flutter pub get

            - name: Run Flutter tests
              run: flutter test --coverage || echo "Tests failed, but continuing build"

            - name: Upload coverage artifact
              uses: actions/upload-artifact@v4
              with:
                name: coverage-ios
                path: coverage/lcov.info

          
            - name: Build iOS app
              run: flutter build ios --release --no-codesign --dart-define=API_URL=$API_URL
            - name: Upload iOS app artifact
              uses: actions/upload-artifact@v4
              with:
                name: ios-app
                path: build/ios/iphoneos/Runner.app

